body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.container {
  border: 1px solid #ccc;
  width: 600px;
  padding: 0 15px;
  margin: 0 auto; }
  .container .inner {
    border-top: 1px solid #ccc;
    padding: 5px 0; }

.clearfix:after {
  content: "";
  clear: both;
  display: table; }

.orange {
  background: orange; }

.blue {
  color: #fff;
  background: blue; }

.green {
  background: green; }

.red {
  background: red; }

.UserInfo {
  float: left;
  margin-right: 15px; }

label {
  display: block; }

.message {
  display: block;
  border: 1px solid #ccc;
  padding: 0 10px;
  margin: 10px 0; }
  .message_success {
    border-color: green; }
  .message_failure {
    border-color: red; }

.flex {
  display: flex;
  flex-direction: row; }
  .flex > div {
    margin-right: 100px; }
